body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("imgs/double-bubble-outline.png");
}

#nav_bar {
    font-size: 125%;
}

#name {
    font-size: 125%;
}

.profile_pic {
    border: solid;
    border-color: black;
}

.portfolio-img {
    transition: box-shadow .3s;
    width: 75%;
    height: auto;
    margin: 15px;
    border-radius: 10px;
    border: 5px solid #ccc;
    background: #fff;
    float: left;
}

.social-imgs {
    width: 25px;
    height: auto;
}

.portfolio-img:hover {
    box-shadow: 0 0 50px rgba(27, 56, 87, 0.2);
}


/* added google font of Mulish for the about me text */

#about_me {
    font-family: 'Mulish', sans-serif;
}


/* floating the profile pictures and add a gray border*/

#profile_pic {
    float: left;
    border: solid;
    border-color: grey
}


/* setup for the footer using white background to make it opaic and to cneter the solical meida icons */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: gray;
    text-align: center;
}

#contact-info {
    text-align: left;
    font-size: small;
}